<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Contentmart.in smoke test suite" >

    <!-- <listeners>
     <listener class-name="Utilities.RetryListener"/>
     </listeners>-->

    <!--Credentials: -->

    <parameter name="clientLoginParam"     value="debeers1989@gmail.com"         />
    <parameter name="clientPasswordParam"  value="roottoor"                     />
    <!--Credentials: END -->


    <!--Properties: -->
    <parameter name = "URL"  value="http://lalafo.az/ru/"/>

    <test name="Affinity_Smoke_1.0">

        <classes>
            <class name="Tests.GUITests.TEST_AddPost.TEST_PostFourthLevelCat"/>
            <!-- <class name="Tests.APITests.TEST_API_getAdById"/>
            <class name="Tests.SQL_Tests.TEST_SQLConnect"/>


            <class name="Tests.GUITests.TEST_AddPost.TEST_PostToOtherCat"/>
            <class name="Tests.GUITests.TEST_AddPost.TEST_PostThirdLevelCat"/>

            <class name="Tests.GUITests.TEST_AddPost.TEST_PostPageIsAvailable"/>
            <class name="Tests.GUITests.TEST_AddPost.TEST_AddNewPost"/>
            <class name="Tests.GUITests.TEST_Search.TEST_Search"/>
            <class name="Tests.GUITests.TEST_Registration.TEST_RegistrationWithAllFields"/>
            <class name="Tests.GUITests.TEST_Login.TEST_PositiveLogin"/>-->

        </classes>
    </test>
</suite>